{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[data]
  is_wsl            = {{ $isWSL }}
  install_bitwarden = {{ promptBoolOnce . "install_bitwarden" "Ставить Bitwarden CLI (rbw)" false }}
