{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[data]
  is_wsl = {{ $isWSL }}
  role   = {{ promptStringOnce . "role" "Роль машины (personal/work)" "personal" | quote }}
