encryption = "age"

[age]
  recipient = "age1wl87u2dmyvnzg30crjxu4c5jya8tgg7mlz5sahnep7fykksmha9sml2l0h"  # ← ваш ПУБЛИЧНЫЙ ключ

[bitwarden]
  command = "bw"
  unlock = "auto"  # Авто-разблокировка bw/rbw если сессия не активна
